@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');

.App {
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #4A00E0;
  font-family: 'Bigelow Rules', cursive;
}

